{% for block_section in block_sections %}
    {% if block_section.display_at == display_at|default('none') %}
        {% include '!blocks.twig' with { blocks: block_section.blocks }%}
    {% endif %}
{% endfor %}