{%- if not current_block_id is defined -%}
    {% set current_block_id = null %}
{%- endif -%}

{% for block in blocks %}
    {% if block.acf_fc_layout|default %}

        {%- set block_vars = {
            id: block|make_block_id,
            class:[
                'block',
                'block-%s'|format(block.acf_fc_layout|replace({'_':'-'})),
                not current_block_id ? 'page-block': 'sub-block'
            ]|apply_filters('dmg/acf/block-wrapper-class', block)|join(' ')
        } -%}

        {{ '<%s id="%s" class="%s">'|format(current_block_id ? 'div': 'section', block_vars.id, block_vars.class) }}
        {% include [
            'blocks/%s.twig'|format(block.acf_fc_layout),
            'blocks/!notfound.twig'
            ] %}
        {{ '</%s>'|format(current_block_id ? 'div': 'section') }}
        {% if debug %}
            {{ '<!--/#%s (%s, key %d)-->'|format(block_vars.id, block.acf_fc_layout, loop.index) }}
        {% endif %}
    {% elseif debug %}
        Unable to print block, no acf_fc_layout key.
        {{ dump(block) }}
    {% endif %}
{% endfor %}

{% set current_block_id = null %}