{% for post in posts %}
    {% set includes = [
        'loop/%s.twig'|format(post.type.slug),
        'loop/!notfound.twig'
    ] %}
    {% if post._wp_page_template|default %}
        {% set includes = [
            'loop/%s/template/%s.twig'|format(post.type.slug, fn('preg_replace', '@(\.[^.]+)$@', '', post._wp_page_template)),
        ]|merge(includes) %}
    {% endif %}

    {% include includes %}
{% endfor %}