{% if pagination.total > 1 %}
    <nav class="page-numbers__wrapper">
        <span class="sr-only">Navigatie</span>
{#        {% if pagination.prev %}#}
            <a href="{{ pagination.prev.link|default('#') }}" class="{{ pagination.prev.class|default('prev disabled') }} arrow">&larr;</a>
{#        {% endif %}#}

        <div class="page-numbers">
            {% for page in pagination.pages %}
                <a href="{{ page.link|default('#') }}" class="{{ page.class }}">{{ page.title }}</a>
            {% endfor %}
        </div>

{#        {% if pagination.next %}#}
            <a href="{{ pagination.next.link|default('#') }}" class="{{ pagination.next.class|default('next disabled') }} arrow">&rarr;</a>
{#        {% endif %}#}
    </nav>
{% endif %}