{% if post.can_edit %}
    <a href="{{ post.edit_link }}" target="_blank" class="btn btn-primary">
        <span class="d-inline-block">
            <i class="fa fa-edit" aria-hidden="true"></i>
            {{ post.type.labels.edit_item }}:
        </span>
        <span class="d-inline-block">&quot;{{ post.title }}&quot;</span>
    </a>
{% endif %}