<blockquote style="border:1px solid red;margin:1em auto;max-width:calc(100vw - 30px);padding:1em">
    <h3>
        {% for include in includes %}
            {% if not loop.last %}
                {% if not loop.first %} or {% endif %}
                <code>{{ include }}</code>
            {% endif %}
        {% endfor %}
        not found!</h3>

    {% if debug %}
        <h2>Post:</h2>
        {{ dump(post) }}

    {% endif %}
</blockquote>