.xdebug-var-dump,
.sf-dump {
    font:12px "Fira Code", Menlo, Monaco, Consolas, monospace !important;
}
.xdebug-var-dump{
    white-space: pre-wrap !important;
    background: #fff !important;
    color:#000 !important;
}

pre.sf-dump .sf-dump-str {
    color:lightgrey !important;
    font-family: Roboto, arial, sans-serif !important;
    font-weight: normal !important;
}