<blockquote style="border:1px solid red;margin:1em auto;max-width:calc(100vw - 60px);padding:1em">
    <h4 style="margin:0">Blok html niet gevonden!</h4>
    <p>Blok bestaat niet: <code>blocks/{{ block.acf_fc_layout }}.twig</code></p>
    {{ dump(block) }}
    <cite>dit bestand komt uit de vendor map!!!</cite>
</blockquote>