{% block before_loop %}
    <header>
        <h1>{{ fn('get_the_archive_title') }}</h1>
        {{ fn('get_the_archive_description') }}

        {% if posts.pagination.total > 1 and posts.pagination.total < posts.pagination.current %}
            {% include '!pagination.twig' with {pagination: posts.pagination} %}
        {% endif %}

    </header>
{% endblock %}
{% block loop %}
    {% include '!loop.twig' %}
{% endblock %}
{% block after_loop %}{% endblock %}

{% block before_pagination %}{% endblock %}
{% block pagination %}
    {% include '!pagination.twig' with {pagination: posts.pagination} %}
{% endblock %}
{% block after_pagination %}{% endblock %}