<!DOCTYPE html>
{%- set html_classes = fn('apply_filters', 'html_classes', ['no-js']) -%}
{%- if html_classes is iterable -%}
    {%- set html_classes = html_classes|join(' ') -%}
{%- endif -%}
{# @formatter:off #}
<!--[if lt IE 9]><html class="{{ html_classes }} ie lt-ie9 lt-ie8 lt-ie7" {{ site.language_attributes }}><![endif]-->
<!--[if IE 9]><html class="{{ html_classes }} ie ie9 lt-ie9 lt-ie8" {{ site.language_attributes }}><![endif]-->
<!--[if gt IE 9]><!--><html class="{{ html_classes }}" {{ site.language_attributes }}><!--<![endif]-->
{# @formatter:on #}
<head>
    <meta charset="{{ site.charset }}">
    <meta http-equiv="x-ua-compatible" content="IE=Edge"/>
    <meta name="viewport" content="width=device-width">

    {% if debug -%}
        <!-- start:wp_head-->
    {%- endif -%}
    {{ wp_head }}
    {%- if debug -%}
        <!-- end:wp_head-->
    {%- endif %}

    {% block html_head %}{% endblock %}
</head>

<body class="{{ body_class }}">
{% block before_page %}{% endblock %}
<div id="page">
    {% block before_page_header %}{% endblock %}
    {% block page_header %}
        <header>
            {% block before_page_header_blocks %}{% endblock %}

            {% if scriptstylesloader.isDefaultBlockSectionsEnabled() %}
                {% include '!block-sections.twig' with {block_sections:options.header_footer.block_sections|default([]), display_at: 'top'} %}
            {% elseif debug %}
                <!-- default block sections disabled -->
            {% endif %}
            {% block after_page_header_blocks %}{% endblock %}
        </header>
    {% endblock %}
    {% block after_page_header %}{% endblock %}
    <main>
        {% block main_breadcrumbs %}
            {{ breadcrumbs }}
        {% endblock %}
        {% block main %}{% endblock %}
    </main>
    {% block before_page_footer %}{% endblock %}
    {% block page_footer %}
        <footer>
            {% block before_page_footer_blocks %}{% endblock %}

            {% if scriptstylesloader.isDefaultBlockSectionsEnabled() %}
                {% include '!block-sections.twig' with {block_sections:options.header_footer.block_sections|default([]), display_at: 'bottom'} %}
            {% elseif debug %}
                <!-- default block sections disabled -->
            {% endif %}
            {% block after_page_footer_blocks %}{% endblock %}
        </footer>
    {% endblock %}
    {% block after_page_footer %}{% endblock %}
</div>
{% block after_page %}{% endblock %}



{% if debug %}
    <h3>Scripts &amp; Styles</h3>
    <pre>{% for message in scriptstylesloader.log %}
{{ message }}
{% endfor %}</pre>

    <h3>Twig context:</h3>
    {{ dump() }}
{% endif %}


{% if url_atlantis_publieksomgeving|default %}
    <script> var url_atlantis_publieksomgeving = {{ url_atlantis_publieksomgeving|json_encode|raw }}</script>
{% endif %}

{% if debug -%}
    <!-- start:wp_footer-->
{%- endif -%}
{{ wp_footer }}
{%- if debug -%}
    <!-- end:wp_footer-->
{%- endif %}
</body>
</html>