{% extends '!base.twig' %}

{% block main %}
    {% set twig_files = [
        '!archive-part.twig'
    ] %}
    {% if fn('is_post_type_archive') %}
        {% set twig_files = [
            '!archive-part-type--%s.twig'|format(queried_object.name),
            '!archive-part-%s.twig'|format(queried_object.name),
        ]|merge(twig_files) %}
    {% endif %}

    {% if term|default %}
        {% set twig_files = [
            '!archive-part-term--%s.twig'|format(term.taxonomy ~ '--' ~ term.slug),
            '!archive-part-term--%s.twig'|format(term.taxonomy),
        ]|merge(twig_files) %}
    {% endif %}

    {% if debug %}
        {{ dump(twig_files) }}
    {% endif %}
    {% embed twig_files %}
    {% endembed %}
{% endblock %}