{% extends '!base.twig' %}

{% block main %}
    <article id="post-{{ post.id }}" class="{{ post.class }}">

        {% set post_block_sections = post.meta('block_sections')|default([]) %}

        {% block before_post_sections_top %}{% endblock %}
        {% include '!block-sections.twig' with {block_sections:post_block_sections, display_at: 'top'} %}
        {% block post_content %}
            {% set includes = [
                'singular/%s.twig'|format(post.type.slug),
                'singular/default.twig',
                'singular/!notfound.twig',
            ] %}
            {% include includes %}
{#            {{ dump(includes) }}#}
        {% endblock %}
        {% include '!block-sections.twig' with {block_sections:post_block_sections, display_at: 'bottom'} %}
        {% block after_post_sections_top %}{% endblock %}
        {% if post.can_edit %}
            <div class="text-center my-4">
                {% include '!post-edit-link.twig' with {post:post} %}
            </div>
        {% endif %}
    </article>
{% endblock %}